body {
    background-color: #442655;
}

header, footer {
    margin-top: 10px;
    color: #9fa093;
    text-align: center;
}

.cards {
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
  


.info {
    border-radius: 5px;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:#9fa093;
    color: #442655;
    max-width: 300px;
    padding: 10px;
}

.card {
    margin-top: 10px;
    border: 5px solid #9fa093;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 340px;
    color: #9fa093;
}


