table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 3px;
  font-size: 2vw;
}

th {
  background-color: greenyellow;
  
  
}

tr:nth-child(even) {
  background-color: aqua;
}

tr:nth-child(odd) {
  background-color: blue;
}

.title {
  font-size: 5vw;
  padding: 15px;
}

.title,
.dark {
  background-color: aquamarine;
}

.feature {
  font-size: 3vw;
}

.plan {
  font-size: 3vw;
}

caption {
  font-size: 2vw;
  text-align: center;
  caption-side: bottom;
}