table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  font-size: 24px;
  border: 2px solid black;
}

th {
  background-color: greenyellow;
  
  
}

tr:nth-child(even) {
  background-color: aqua;
}

tr:nth-child(odd) {
  background-color: blue;
}

.title {
  font-size: 5vw;
  padding: 15px;
}

.title,
.side {
  background-color: aquamarine;
}

.feature {
  font-size: 16px;
}

.plan {
  font-size: 16px;
}

caption {
  font-size: 8px;
  text-align: center;
  caption-side: bottom;
}