body {display: flex;
    flex-direction: column;
    align-content: center;
    background-color: aqua;
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 1s;
}
