@media only screen and (min-width: 875px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* CSS HEX 
--ash-gray: #9fa093ff;
--battleship-gray: #8c8d82ff;
--battleship-gray-2: #949688ff;
--silver: #beb9b2ff;
--russian-violet: #442655ff; */

  /* FONT FAMILY 
    font-family: 'Akronim', cursive; 
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;*/

}