/* Fonts that will be used
font-family: 'Dancing Script', cursive;

font-family: 'Playfair Display', serif;
*/

/* Colors That will be used.
#1e212b Raisin Black
#4d8b31 Forest Green
#ffc800 Mikado Yellow
#ff8427 Orange (wheel)
#ffffff White
*/

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  background-color: #4d8b31;
  color: #1e212b;
}

.logo-img {
  max-width: 100px;
  max-height: 100px;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

nav ul li {
  text-decoration: none;
  background-color: #ffc800;
  color: #1e212b;
  list-style-type: none;
  font-family: "Playfair Display", Bold;
}

#primaryNav a:link{
  color: #1e212b;
  text-decoration: none;
}

#primaryNav a:visited {
  color: #1e212b;
}

#primaryNav a:hover {
  display: block;
  background-color: #1e212b;
  color: #ff8427;
}

body {
  font-family: "Playfair Display", Bold;
  background-color: #1e212b;
  color: #ffffff;
}

h2 {margin: 10px;
  border:10px solid #4d8b31;
  font-family: "Dancing Script", cursive;
  padding: 5px;
  background-color: #ffc800;
  color: #1e212b;
}

h3 {
  font-family: "Dancing Script", cursive;
  padding: 5px;
  background-color: #ffc800;
  color: #1e212b;
}

.img-div{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 10px 10px 10px 10px;
  
}

.p1 {
 grid-area:1/2/2/2 ;
}

.pineapple{
  margin-right: 10px;
  width: 250px;
  height: 250px;
}
.p2 {
  grid-area:1/1/2/2;
}

.p3{
  grid-area: 2/1/3/3;
  text-align: center;
}

.coast{margin-top: -185px;
  text-align: center;
}
p {
  letter-spacing: 0.5px;
  margin: 10px;
  font-family: "Playfair Display", Bold;
  background-color: #1e212b;
  color: #ffc800;
  padding: 5px;
}

footer {
  background-color: #4d8b31;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.drink,
.weather, .att, .fruit-drink {
  display: flex;
  justify-content: center;
}

.p1, .resources {
  text-align: center;
}

.facebook,
.insta,
.linkedin {
  background-color: #4d8b31;
  margin: 10px;
  max-height: 50px;
}

.facebook:hover, .insta:hover, .linkedin:hover {
  background-color: #4d8b31;
  border: 3px solid #ff8427;
  border-radius: 100% 100%;

}

.social {
  display: flex;
  justify-content: space-around;
}

.footer {
  margin: 10px;
}

#copyright {
  padding: 10px;
  background-color: #1e212b;
}

.resources{
  margin: 10px;
  font-family: "Playfair Display", bold;
  padding: 5px;
  background-color: #ff8427;
  color: #1e212b;
}

.resources a{
  color: #1e212b;
}

#output{
  text-align: center;
}

.resources a:hover{
  border: 3px solid #4d8b31;
}

.resources a:visited{
  color: #1e212b;
}

.coast {margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.beach{ width: 300px;
}

.fruit-section{ text-align: center;
background-color: #1e212b;
color: #ffffff}

.order, .about{
  text-align: center;
}








