* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 4, 66);
}

main {
    text-align: center;
}

header {
    display: block;
}

header,
footer {
    text-align: center;
    margin: 15px 15px 15px 15px;
    font-family: 'Montez', cursive;
    background-color: hotpink;
}

img {
    margin: 15px 15px 0 15px;
}

h2 {
    font-family: 'EB Garamond', serif;
    color: aliceblue;
}

ul {
    margin-left: 45px;
    font-family: 'EB Garamond', serif;
    list-style-type: none;
    color: aliceblue;
}

ul a {
    color: cornflowerblue;
}

a:visited {
    color: aquamarine;
}

footer {
    padding: 10px;
}